* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    Font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji
}

body {
    min-height: 100vh;
    Font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji background-color#FAFAFA width="100px";
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    border-radius: 1000px;
    justify-content: space-between;
    align-content: center;
    padding-inline: 30px;
    background-color: rgba(255, 255, 255, 0.457);
    backdrop-filter: blur(10px);
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.365);
    position: fixed;
    top: 10px;
    padding: 20px;
    width: 90vw;
    z-index: 9999999999999999;
}



a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(18, 10, 1);
}

.logo {
    text-decoration: none;
    font-size: clamp(20px, 8vw, 24px)
}

nav ul {
    gap: 30px;
    display: flex;
}

nav li {
    list-style: none;
}

nav a {
    font-size: 17px;
    text-decoration: none;
}

nav a:hover {
    padding: 5px 15px;
    color: aliceblue;
    border-radius: 1000px;
    background-color: black;
}

.mobile .MobileMenu {
    top: 0;
    right: -16px;
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.457);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.374);
    width: 350px;
    height: 80vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

svg {
    width: 40px;
    height: 40px;
}

svg:hover {
    fill: aliceblue;
    background-color: #232222;
    border-radius: 9px;
}



.MobileMenu li {
    width: 100%;

}

.MobileMenu a {
    width: 100%;
    color: #000;
}

.mobile nav a {
    padding: 15px 8em;

    display: flex;
    justify-content: center;
}

.hero {
    overflow: hidden;
    position: relative;

    .hero-video {
        border-radius: 0 0 52px 52px;
    }

    .hero-content {
        position: absolute;
        top: 20%;
        left: 5%;

        h1 {
            font-size: clamp(40px, 8vw, 60px);
            max-width: 600px;
            color: aliceblue;
            text-shadow: 1px 1px black;
        }

        p {
            max-width: 600px;
            font-size: clamp(3px, 3vw, 20px);
            font-weight: 500;
            color: aliceblue;
        }

    }

    .subcontent {
        position: relative;
        display: flex;
        z-index: 9999999999999999999;
    }

    .subtext {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 25px;
        bottom: 40px;
        z-index: 99999;
    }

    .subtext2 {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    img {
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }

    #img2 {
        margin-left: -20px;
        border: 2px solid rgb(255, 255, 255);
    }

    h3 {
        max-width: 220px;
        color: aliceblue;
    }

    p {
        max-width: 200px;
        font-size: clamp(10px, 2vw, 12px);
        font-weight: 500;
        color: aliceblue;

    }

}

/* management */
.management {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-inline: 60px;
    gap: 30px;


    h4 {
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        text-align: center;
    }

    .img {
        background-color: #000;
        border-radius: 70%;
        width: 59px;
        display: block;
        margin: auto;

    }

    img {
        width: 50px;
        padding-left: 10px;
        padding-top: 10px;
        filter: brightness(0) invert(1);
    }
}

/* About us */
.about {
    position: relative;

    .content {
        padding-inline: 20px;
        margin-top: 40px;
    }

    h2 {
        font-size: clamp(20px, 7vw, 30px);

    }

    img {
        width: 95vw;
        height: 40vh;
        border-radius: 32px;
        display: block;
        margin: auto;
        margin-top: 20px;
        position: relative;
    }



    p {
        font-weight: 400;
    }

    #buttom-paragrap {
        margin-top: 20px;
        padding-inline: 20px;
    }
}

/* Build */
.build {

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px;
    }



    img {
        width: 90vw;
        display: block;
        margin: auto;
        height: 270px;
        border-radius: 40px;
    }

    .box div:nth-child(2) {
        margin-top: 30px;
    }

    .container div:nth-child(2) {
        display: flex;
        flex-direction: column-reverse;
    }

    .center-box {
        margin-bottom: 30px;
    }

    button {
        padding: 9px 20px;
        border-radius: 30px;
        border: 2px solid black;
        background-color: transparent;
        color: rgb(0, 0, 0);
        font-size: 16px;
        cursor: pointer;
        margin-top: 20px;
        font-weight: 600;
        width: 150px;
    }

    button:hover {
        background-color: black;
        color: white;
    }

    h2 {
        margin-top: 50px;
        font-size: clamp(20px, 8vw, 40px);
        margin: 20px;

    }

    h4 {
        margin-top: 20px;
        font-size: clamp(25px, 3vw, 20px);
    }

}

/* Achievement */
.Achievement {
    h2 {
        text-align: center;
        font-size: clamp(20px, 8vw, 40px);
        margin-top: 30px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin-top: 30px;
        padding: 20px;
    }

    .box {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    img {
        width: 120px;
        height: 90px;
    }
}

/* Experience */
.Experience {
    h2 {
        font-size: clamp(20px, 8vw, 40px);
        margin-top: 30px;
        padding: 20px;
    }

    img {
        border-radius: 50%;
        width: 70px;
        height: 70px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        margin-top: 20px;
    }

    .people {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
    }

    .box {
        background-color: #dedbdb50;
        padding: 20px;
        width: 95vw;
        display: block;
        margin: auto;
        border-radius: 20px;


    }
}

/* Footer */
footer {
    margin-top: 60px;
    background-image: url(./1763638624052.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;

    h2 {
        text-align: center;
        padding-top: 50px;
        font-size: clamp(25px, 10vw, 60px);
        color: #FAFAFA;
    }

    button {
        display: block;
        margin: auto;
        background-color: transparent;
        backdrop-filter: blur(10px);
        padding: 10px 20px;
        color: #FAFAFA;
        border: #FAFAFA solid 2px;
        border-radius: 100px;
        box-shadow: 2px 2px rgb(32, 13, 0);
    }

    .container {
        display: block;

    }


.footer-container {
    width: 95vw;
    height: 390px;
    background-color: #dcd7d73a;
    backdrop-filter: blur(16px);
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 40px;
    position: relative;
    padding: 20px;
    flex-wrap: wrap;
}

.container{
margin-inline:10px ;
}

ul {
    list-style: none;
}

h5 {
    color: antiquewhite;
    font-size: clamp(18px, 4vw, 20px);
}

a {
    text-decoration: none;
    color: #FAFAFA;
    font-size: 14px;
}

.links {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    z-index: 99999999999;
    position: relative;
   
}

}

/* MOBILE MEDIA QUERY */
@media (max-width:1200px) {
    .desktopmenu {
        display: none;
    }


}

/* DESKTOP MEDIA QUERY */
@media (min-width:1200px) {
    .mobile-hamburger {
        display: none;
    }

    .management {
        p {
            max-width: 300px;
            font-weight: 500;
        }
    }

    .about {
        .content {
            position: absolute;
            right: 35px;
            margin-top: 50px;
        }

        p {
            max-width: 400px;
            font-weight: 500;
        }

        img {
            /* margin-top: 290px; */
            position: relative;
            top: 230px;
            height: 80vh;
            width: 95vw;
        }

        #buttom-paragrap {
            margin-top: 240px;
            padding-left: 60px;
            padding-right: 27px;
            max-width: 500px;
        }
    }

    .build {

        .container {
            padding-inline: 60px;
        }

        p {
            max-width: 300px;
        }

        h2 {
            padding-left: 40px;
            max-width: 600px;
            margin-bottom: 30px;
        }

        button {
            margin-bottom: 20px;
        }

        img {
            width: 340px;
            height: 270px;
            border-radius: 40px;
        }



        .container div:nth-child(2) {
            display: flex;
            flex-direction: column;
            margin-top: -20px;
        }
    }

    .Achievement {
        justify-content: space-between;
        padding: 0;

        p {
            max-width: 400px;
        }
    }

    .Experience {
        p {
            max-width: 500px;
        }

        h2 {
            padding-left: 60px;
            max-width: 600px;
        }

        .people {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-top: 20px;
        }

        .container {
            padding-inline: 60px;
        }

        .box {
            width: fit-content;
        }
    }

    footer {
        .footer-container {
            width: 95vw;
            height: 250px;
            background-color: #dcd7d73a;
            backdrop-filter: blur(16px);
            display: flex;
            justify-content: space-between;
            margin-top: 130px;
            border-radius: 40px;
            position: relative;
            padding: 30px;
            flex-wrap: wrap;
            margin-inline: 0px;
        }

        p {
            max-width: 500px;
        }

        .links {
            gap: 90px;
        }

        .info {
            margin-top: -30px;
            color: #FAFAFA;
        }

        .container {
            margin-inline: 30px;
        }
    }

    .wrapper {
        max-width: 1300px;
        display: block;
        margin: auto;
    }
}